.h2, .h4 {
  font-family: "Marvel", sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Raleway", sans-serif;
}

body {
  color: #2c2c2c;
  /*font-size: 14px;*/
  font-family: "Raleway", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.page-header .page-header-image {
  z-index: 0;
}

.profile-page .title {
  margin-top: -2rem;
}

#logo img {
  /*max-width: 80%;*/
  max-height: 24rem;
}

.gallery figure.cc-effect .h4 {
  margin-top: 2rem;
}

.gallery figure.cc-effect p {
  text-transform: none;
}

.h2.title {
  text-shadow: .2rem .2rem .4rem #000;
}

/* footer social */
footer a.btn, footer a.btn:hover { color: inherit; font-size: 1.6rem;}
footer .title { border: none; }
.btn-link .fa-facebook:hover { color: #3b5998; }
.btn-link .fa-twitter:hover { color: #1da1f2; }
.btn-link .fa-github:hover { color: #000000; }
.btn-link .fa-rss:hover { color: orange; }
.btn-link .fa-youtube:hover { color: red; }
.btn-link.title:hover { color: rgb(163, 0, 163); text-decoration: none;}
