@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}
body {
  margin: 0
}
a {
  background: 0 0
}
a:focus {
  outline: thin dotted
}
a:active,
a:hover {
  outline: 0
}
h1,
h2,
h3,
h4,
h6 {
  margin: 0
}
p {
  margin: 0
}
::selection {
  background: #0086b9;
  color: #fff
}
::-moz-selection {
  background: #0086b9;
  color: #fff
}
dd,
dl,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0
}
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto
}
iframe {
  max-width: 100%
}
figure {
  margin: 0
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
.brick-portada .g,
.section-front .section-escalon > .g,
.section-front > .g {
  margin: 0 auto;
  max-width: 1200px
}
@media only screen and (min-width:48em) {
  .lap-one-whole {
    width: 100%
  }
  .lap-four-eighths,
  .lap-one-half,
  .lap-six-twelfths,
  .lap-three-sixths,
  .lap-two-quarters {
    width: 50%
  }
  .lap-four-twelfths,
  .lap-one-third,
  .lap-two-sixths {
    width: 33.333%
  }
  .lap-eight-twelfths,
  .lap-four-sixths,
  .lap-two-thirds {
    width: 66.666%
  }
  .lap-one-quarter,
  .lap-three-twelfths,
  .lap-two-eighths {
    width: 25%
  }
  .lap-nine-twelfths,
  .lap-six-eighths,
  .lap-three-quarters {
    width: 75%
  }
  .lap-one-fifth {
    width: 20%
  }
  .lap-two-fifths {
    width: 40%
  }
  .lap-three-fifths {
    width: 60%
  }
  .lap-four-fifths {
    width: 80%
  }
  .lap-one-sixth,
  .lap-two-twelfths {
    width: 16.666%
  }
  .lap-five-sixths,
  .lap-ten-twelfths {
    width: 83.333%
  }
  .lap-one-eighth {
    width: 12.5%
  }
  .lap-three-eighths {
    width: 37.5%
  }
  .lap-five-eighths {
    width: 62.5%
  }
  .lap-seven-eighths {
    width: 87.5%
  }
  .lap-one-twelfth {
    width: 8.333%
  }
  .lap-five-twelfths {
    width: 41.666%
  }
  .lap-seven-twelfths {
    width: 58.333%
  }
  .lap-eleven-twelfths {
    width: 91.666%
  }
}
@media only screen and (min-width:62.5em) {
  .desk-one-whole {
    width: 100%
  }
  .desk-four-eighths,
  .desk-one-half,
  .desk-six-twelfths,
  .desk-three-sixths,
  .desk-two-quarters {
    width: 50%
  }
  .desk-four-twelfths,
  .desk-one-third,
  .desk-two-sixths {
    width: 33.333%
  }
  .desk-eight-twelfths,
  .desk-four-sixths,
  .desk-two-thirds {
    width: 66.666%
  }
  .desk-one-quarter,
  .desk-three-twelfths,
  .desk-two-eighths {
    width: 25%
  }
  .desk-nine-twelfths,
  .desk-six-eighths,
  .desk-three-quarters {
    width: 75%
  }
  .desk-one-fifth {
    width: 20%
  }
  .desk-two-fifths {
    width: 40%
  }
  .desk-three-fifths {
    width: 60%
  }
  .desk-four-fifths {
    width: 80%
  }
  .desk-one-sixth,
  .desk-two-twelfths {
    width: 16.666%
  }
  .desk-five-sixths,
  .desk-ten-twelfths {
    width: 83.333%
  }
  .desk-one-eighth {
    width: 12.5%
  }
  .desk-three-eighths {
    width: 37.5%
  }
  .desk-five-eighths {
    width: 62.5%
  }
  .desk-seven-eighths {
    width: 87.5%
  }
  .desk-one-twelfth {
    width: 8.333%
  }
  .desk-five-twelfths {
    width: 41.666%
  }
  .desk-seven-twelfths {
    width: 58.333%
  }
  .desk-eleven-twelfths {
    width: 91.666%
  }
}
@media only screen and (max-width:47.99938em) {
  .palm-one-whole {
    width: 100%
  }
  .palm-four-eighths,
  .palm-one-half,
  .palm-six-twelfths,
  .palm-three-sixths,
  .palm-two-quarters {
    width: 50%
  }
  .palm-four-twelfths,
  .palm-one-third,
  .palm-two-sixths {
    width: 33.333%
  }
  .palm-eight-twelfths,
  .palm-four-sixths,
  .palm-two-thirds {
    width: 66.666%
  }
  .palm-one-quarter,
  .palm-three-twelfths,
  .palm-two-eighths {
    width: 25%
  }
  .palm-nine-twelfths,
  .palm-six-eighths,
  .palm-three-quarters {
    width: 75%
  }
  .palm-one-fifth {
    width: 20%
  }
  .palm-two-fifths {
    width: 40%
  }
  .palm-three-fifths {
    width: 60%
  }
  .palm-four-fifths {
    width: 80%
  }
  .palm-one-sixth,
  .palm-two-twelfths {
    width: 16.666%
  }
  .palm-five-sixths,
  .palm-ten-twelfths {
    width: 83.333%
  }
  .palm-one-eighth {
    width: 12.5%
  }
  .palm-three-eighths {
    width: 37.5%
  }
  .palm-five-eighths {
    width: 62.5%
  }
  .palm-seven-eighths {
    width: 87.5%
  }
  .palm-one-twelfth {
    width: 8.333%
  }
  .palm-five-twelfths {
    width: 41.666%
  }
  .palm-seven-twelfths {
    width: 58.333%
  }
  .palm-eleven-twelfths {
    width: 91.666%
  }
}
html {
  font-size: 100%;
  overflow-x: hidden
}
.mobile {
  display: none!important
}
.no-mobile {
  display: inline-block!important
}
@media only screen and (max-width:62.49938em) {
  .mobile {
    display: inline-block!important
  }
  .no-mobile {
    display: none!important
  }
}
body {
  background: #fff;
  color: #00385d;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 100%;
  line-height: normal;
  padding-top: 123px
}
@media print {
  body {
    background: #fff!important
  }
}
@media only screen and (max-width:62.49938em) {
  body {
    padding-top: 58px
  }
}
body.header-reduced.scroll-down {
  padding-top: 0
}
.breadcrum.hide,
.hide {
  display: none
}
h1,
h2,
h3,
h4,
h6 {
  font-size: 1em
}
a {
  color: inherit;
  text-decoration: none
}
p a {
  color: #0086b9
}
@media print {
  @page {
    size: A4 portrait
  }
}
.js-sensor {
  display: none;
  margin-left: 0
}
@media only screen and (min-width:62.5em) {
  .js-sensor {
    margin-left: 1px
  }
}
.js-toggle .js-toggle-content {
  display: none
}
.js-toggle.is-active .js-toggle-content {
  display: block
}
.js-tab-content .js-tab {
  display: none
}
.js-tab-content .js-tab.is-active {
  display: block
}
.show-content {
  max-width: 1024px
}
.show-content .text {
  position: relative;
  display: block
}
.show-content .show-more {
  position: relative;
  cursor: pointer;
  color: #0086b9;
  text-decoration: underline
}
.show-content .show-more:hover {
  opacity: .7
}
.show-content .show-more-height {
  height: 135px;
  overflow: hidden
}
.body-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  background: 0 0;
  z-index: 50
}
html.js .hide {
  display: none
}
.h-bg {
  position: relative;
  font-family: Movistar,Arial,sans-serif;
  font-weight: 700;
  font-size: 34px;
  font-size: 2.125rem;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 8px 15px;
  line-height: 1;
  display: inline-block
}
.calle-fanzone .h-bg,
.calle-guia .h-bg {
  color: #004f7c
}
@media only screen and (max-width:47.99938em) {
  .h-bg {
    font-size: 20px;
    font-size: 1.25rem
  }
}
.h-alpha {
  position: relative;
  font-family: Movistar,Arial,sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
  color: #fff
}
@media only screen and (min-width:48em) {
  .h-alpha {
    font-size: 30px;
    font-size: 1.875rem
  }
}
@media print {
  .h-alpha {
    visibility: visible;
    background: 0 0;
    color: #000
  }
}
.h-gamma-mini {
  display: block;
  font-family: Movistar,Arial,sans-serif;
  font-size: 12px;
  font-size: .75rem;
  font-weight: 400
}
.h-zeta {
  display: block;
  font-family: Movistar,Arial,sans-serif;
  font-size: 13px;
  font-size: .8125rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -.04em
}
.h-gamma {
  display: block;
  font-family: Movistar,Arial,sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400
}
@media only screen and (min-width:48em) {
  .h-gamma {
    font-size: 22px;
    font-size: 1.375rem
  }
}
.h-mega {
  display: block;
  font-family: Movistar,Arial,sans-serif;
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 700
}
@media only screen and (min-width:48em) {
  .h-mega {
    font-size: 34px;
    font-size: 2.125rem
  }
}
.h-beta {
  display: block;
  font-family: Movistar,Arial,sans-serif;
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 700
}
@media only screen and (min-width:48em) and (max-width:62.49938em) {
  .h-beta {
    font-size: 32px;
    font-size: 2rem
  }
}
@media only screen and (min-width:62.5em) {
  .h-beta {
    font-size: 40px;
    font-size: 2.5rem
  }
}
.h-delta {
  display: block;
  font-family: Movistar,Arial,sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700
}
@media only screen and (min-width:48em) {
  .h-delta {
    font-size: 30px;
    font-size: 1.875rem
  }
}
.h-epsilon {
  display: block;
  font-family: Movistar,Arial,sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700
}
@media only screen and (min-width:48em) {
  .h-epsilon {
    font-size: 48px;
    font-size: 3rem
  }
}
.h-epsilon-extra {
  display: block;
  font-family: Movistar,Arial,sans-serif;
  font-size: 55px;
  font-size: 3.4375rem;
  font-weight: 700
}
@media only screen and (min-width:62.5em) {
  .h-epsilon-extra {
    font-size: 65px;
    font-size: 4.0625rem
  }
}
.brick-portada .g,
.section-front .section-escalon > .g,
.section-front > .g,
.wrapper {
  width: 100%;
  max-width: 980px;
  margin: 0 auto
}
:focus {
  outline: 0
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
a:focus,
button:focus,
img:focus {
  outline: 0
}
button:hover {
  cursor: pointer
}
.g {
  font-size: 0
}
.g > * {
  font-size: 16px;
  font-size: 1rem
}
.gi {
  font-size: 16px;
  font-size: 1rem
}
@media only screen and (min-width:48em) {
  .gi {
    display: inline-block;
    vertical-align: top
  }
}
.icon,
.legal .h-alpha-inner:before,
.login .alerta-cont p.alerta:before,
.login .no-register li:before,
.menu-minisite .bt-menu-minisite.opened:after,
.menu-minisite .bt-menu-minisite:after,
.mfp-arrow .mfp-a,
.mfp-arrow .mfp-b,
.mfp-arrow:after,
.mfp-arrow:before,
.product-info .ventajas-fusion li:before,
.search .icon-down:after,
.social a,
.video-share .social li a {
  display: inline-block;
  vertical-align: middle;
  font-family: m-icons!important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  overflow: hidden;
  font-size: 30px;
  font-size: 1.875rem
}
button,
input,
textarea {
  -webkit-appearance: none;
  border-radius: 0
}
button[disabled],
input[disabled] {
  cursor: default
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%
}
p.error {
  background: #e60a2d;
  color: #fff;
  font-size: 15px;
  font-size: .9375rem;
  padding: 10px
}
input.error,
input.parsley-error,
textarea.error,
textarea.parsley-error {
  border-color: #e60a2d;
  color: #333
}
input.error:focus,
input.parsley-error:focus,
textarea.error:focus,
textarea.parsley-error:focus {
  border-color: #e60a2d
}
@media only screen and (max-width:62.49938em) {
  p.exito.exito-image {
    margin-left: 0
  }
  p.exito.exito-image:after {
    bottom: -10px;
    top: inherit
  }
}
.button,
.button-light,
.button-link,
.button-sec,
.menu-shadow ul li a,
.paginacion .internal-nav .total-pag .num-active-pag,
.paginacion .internal-nav .total-pag .num-pag,
.video-galeria .social .ver-mas,
a.button-mini {
  display: inline-block;
  font-family: TelefonicaLight,Arial,sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  border: none;
  margin: none;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px
}
.button-light:hover,
.button-link:hover,
.button-sec:hover,
.button:hover,
.menu-shadow ul li a:hover,
.paginacion .internal-nav .total-pag .num-active-pag:hover,
.paginacion .internal-nav .total-pag .num-pag:hover,
.video-galeria .social .ver-mas:hover,
a.button-mini:hover {
  opacity: .8
}
.button {
  background: #0086b9;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  padding: 13px 25px
}
a.button-mini {
  background: #0086b9;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  padding: 9px 20px
}
.button-sec {
  background: #f8f8f8;
  color: #0086b9;
  padding: 13px 25px
}
.button-sec.button-mini {
  padding: 9px 20px
}
.button-sec span {
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  line-height: 22px
}
.button-sec .icon,
.button-sec .legal .h-alpha-inner:before,
.legal .button-sec .h-alpha-inner:before {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 20px
}
@media only screen and (max-width:47.99938em) {
  .button-sec.onlytxt {
    width: auto
  }
}
@media only screen and (max-width:62.49938em) {
  .button-sec .icon,
  .button-sec .legal .h-alpha-inner:before,
  .legal .button-sec .h-alpha-inner:before {
    margin: 0 5px
  }
}
.button-link {
  background: 0 0;
  color: #0086b9;
  text-decoration: underline;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400
}
.button-link .icon,
.button-link .legal .h-alpha-inner:before,
.legal .button-link .h-alpha-inner:before {
  margin-left: 12px
}
.button-link.button-link-right span {
  margin-left: 0;
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  margin-right: 0;
  font-size: 45px;
  font-size: 2.8125rem
}
.button-link.button-link-record {
  background: url(http://www.movistarplus.es/assets/images/movistar-plus/ico-record.png) no-repeat 0 0;
  height: 28px
}
.button-link.button-link-record span {
  line-height: 1.7em;
  padding: 0 0 0 36px
}
.button-light {
  background: #f6f6f6;
  color: #0086b9;
  text-transform: none;
  border: 1px solid #e4e4e4
}
.stars {
  position: relative;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  float: left;
  height: 22px
}
.stars > span {
  background-image: url(http://www.movistarplus.es/assets/images/movistar-plus/star-sprite-white.png);
  background-position: 0 0;
  padding: 0;
  width: 22px;
  height: 21px;
  margin: 0 1px;
  text-indent: -9999px;
  display: block;
  float: right;
  background-size: 22px auto;
  opacity: .3
}
.stars a,
.stars div {
  background-image: url(http://www.movistarplus.es/assets/images/movistar-plus/star-sprite.png);
  background-position: 0 0;
  padding: 0;
  width: 22px;
  height: 21px;
  margin: 0 1px;
  text-indent: -9999px;
  display: block;
  float: right;
  background-size: 22px auto;
  opacity: .3
}
.stars a.fill,
.stars div.fill {
  opacity: 1
}
.stars a.fill:hover,
.stars a.vote-2:hover ~ a.vote-1,
.stars a.vote-3:hover ~ a.vote-1,
.stars a.vote-3:hover ~ a.vote-2,
.stars a.vote-4:hover ~ a.vote-1,
.stars a.vote-4:hover ~ a.vote-2,
.stars a.vote-4:hover ~ a.vote-3,
.stars a.vote-5:hover ~ a.vote-1,
.stars a.vote-5:hover ~ a.vote-2,
.stars a.vote-5:hover ~ a.vote-3,
.stars a.vote-5:hover ~ a.vote-4,
.stars a:hover {
  background-position: 0 -21px;
  opacity: 1
}
.stars p {
  position: absolute;
  left: 125px;
  width: 100%
}
.stars span {
  opacity: .4;
  line-height: 1.6em;
  vertical-align: super
}
.stars a.vote-1:hover {
  text-indent: 126px
}
.stars a.vote-2:hover {
  text-indent: 103px
}
.stars a.vote-3:hover {
  text-indent: 79px
}
.stars a.vote-4:hover {
  text-indent: 55px
}
.stars a.vote-5:hover {
  text-indent: 29px
}
.stars:hover ~ .rating-value .rating {
  opacity: 0
}
.stars.stars-votes ~ .rating-value .rating {
  opacity: 1
}
.stars-cont {
  text-align: center
}
.stars-cont span {
  background-image: url(http://www.movistarplus.es/assets/images/movistar-plus/star-sprite-white.png);
  background-position: 0 0;
  padding: 0;
  width: 22px;
  height: 21px;
  margin: 0 1px;
  text-indent: -9999px;
  display: inline-block;
  background-size: 22px auto
}
.stars-cont span.fill {
  background-position: 0 -21px
}
@media only screen and (min-width:48em) and (max-width:62.49938em) {
  .stars-cont span {
    background-size: 18px auto;
    width: 18px;
    height: 18px
  }
  .stars-cont span.fill {
    background-position: 0 -18px
  }
}
.ee-age span {
  padding: 0;
  width: 120px;
  height: 63px;
  text-indent: -9999px;
  display: block
}
.ee-age .age7 {
  background-image: url(http://www.movistarplus.es/assets/images/icons/svg/7.svg)
}
.ee-age .age7i {
  background-image: url(http://www.movistarplus.es/assets/images/icons/svg/7i.svg)
}
.ee-age .age12 {
  background-image: url(http://www.movistarplus.es/assets/images/icons/svg/12.svg)
}
.ee-age .age13 {
  background-image: url(http://www.movistarplus.es/assets/images/icons/svg/13.svg)
}
.ee-age .age16 {
  background-image: url(http://www.movistarplus.es/assets/images/icons/svg/16.svg)
}
.ee-age .age18 {
  background-image: url(http://www.movistarplus.es/assets/images/icons/svg/16.svg)
}
.ee-age .ageA {
  background-image: url(http://www.movistarplus.es/assets/images/icons/svg/a.svg)
}
.ee-age .ageAi {
  background-image: url(http://www.movistarplus.es/assets/images/icons/svg/ai.svg)
}
.ee-age .ageX {
  background-image: url(http://www.movistarplus.es/assets/images/icons/svg/x.svg)
}
.menu-shadow .button-shadow {
  width: 100%;
  position: relative;
  color: #00385d
}
.menu-shadow.is-active .button-shadow,
.menu-shadow.is-active .button-shadow:hover {
  box-shadow: none
}
.menu-shadow.is-active .button-shadow {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px
}
.pase .menu-shadow a.button-shadow {
  color: #000;
  background: #f3f3f3;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  text-align: center;
  font-family: Movistar,Arial,sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 12px 0
}
.slab-secondary {
  background: #00385d;
  color: #fff
}
@media print {
  .slab-secondary {
    visibility: visible;
    background: 0 0;
    color: #000
  }
}
.act0 {
  background: #e3e0da
}
.act1 {
  background: #0086b9
}
.act2 {
  background: #004f7c
}
.act3 {
  background: #999
}
.actBlack {
  background: #000
}
.actYellow {
  background: #f5e614;
  color: #000
}
.spot {
  position: relative;
  width: 100%;
  color: #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px
}
.spot .spot source {
  width: 100%
}
.spot > a img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%
}
.spot .spot-content {
  padding: 20px;
  margin-top: 12px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #fff;
  font-size: 16px;
  font-size: 1rem
}
.spot .spot-content .heading {
  font-family: Movistar,Arial,sans-serif;
  padding-bottom: 10px;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 900;
  color: #00385d
}
.spot .spot-content p {
  font-size: 14px;
  font-size: .875rem;
  padding-bottom: 10px;
  color: #004f7c
}
.spot .spot-content p.heading {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700
}
.spot .spot-content .button-link {
  padding: 0;
  text-align: left
}
.spot .spot-ahead {
  position: absolute;
  bottom: 0;
  padding: 16px
}
.spot .spot-ahead .h-zeta {
  color: #fff;
  text-transform: none
}
@media only screen and (max-width:62.49938em) {
  .spot {
    max-width: 500px;
    margin: 0 auto
  }
}
.slab-white spot .spot-content {
  background: #e3e0da
}
.slab-white spot .spot-content a {
  color: #0086b9
}
.tv-placeholder .spot .spot-content .heading {
  font-weight: 100
}
.spot-record {
  width: 18px;
  height: 18px;
  background: #e60a2d;
  border: 5px solid #fff;
  border-radius: 100px;
  position: absolute;
  top: 12px;
  right: 12px
}
.spot-s .spot-content {
  padding: 16px
}
.spot-s .heading {
  font-size: 14px;
  font-size: .875rem;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.spot-search .info-pixel {
  position: absolute;
  top: -18px;
  left: 18px
}
.login .spot-search .acierto,
.spot-search .box-pixel,
.spot-search .login .acierto,
.spot-search p.error,
.spot-search p.exito {
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  float: left;
  margin: 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px
}
.spot-search p {
  text-transform: uppercase;
  color: #444;
  font-size: 12px;
  font-size: .75rem
}
.spot-search .info-season .heading {
  padding-bottom: 5px
}
.spot-search .info-season span {
  padding-bottom: 10px;
  display: block;
  color: #333;
  font-size: 14px;
  font-size: .875rem;
  font-weight: 700
}
.spot-search .spot-image-containter a {
  display: inline-block;
  margin: 10px 10px 20px 0
}

.ee .title-image {
  width: 100%
}
.ee p a {
  color: #0086b9
}
.ee .heading {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  font-family: Movistar,Arial,sans-serif;
  color: #000;
  line-height: 1.5em
}
.ee .heading.light {
  color: #fff
}
.ee .heading .mini {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;
  vertical-align: bottom;
  white-space: nowrap
}
.ee .heading h3 {
  display: inline-block;
  font-size: 22px;
  font-size: 1.375rem
}
.ee .h-delta {
  color: #fff;
  font-size: 28px;
  font-size: 1.75rem
}
.ee .h-delta .inline-txt {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding: 0 .5em
}
.ee .h-delta .inline-txt:after {
  content: '"';
  position: absolute;
  top: 0;
  right: 0
}
.ee .h-delta .inline-txt:before {
  content: '"';
  position: absolute;
  top: 0;
  left: 0
}
.ee .h-elem {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  margin: 0 0 20px;
  font-family: Movistar,Arial,sans-serif
}
.ee p {
  color: #858585;
  font-size: 14px;
  font-size: .875rem;
  padding: 10px 10px 15px 0;
  line-height: 1.8em
}
.ee .brick-content:first-child .cover {
  float: left;
  margin-left: 20px;
  padding: 0;
  text-align: left;
  z-index: 50
}
.ee .brick-overlapped:after {
  content: '';
  width: 33%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00f;
  z-index: 0
}
.ee .ee-info {
  width: 100%;
  overflow: hidden;
  clear: both
}
.ee .ee-stars {
  margin: 10px 20px;
  overflow: hidden
}
.ee .ee-stars .rating-content .rating-value {
  padding: 7px;
  font-size: 15px;
  font-size: .9375rem;
  font-weight: 700;
  float: left
}
.ee .ee-stars .rating-content .rating-value span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 3px;
  line-height: 1em
}
.ee .ee-stars .rating-content .rating-value .rating {
  font-size: 20px;
  font-size: 1.25rem
}
.ee .ee-stars .rating-content .rating-value .ratingC {
  padding: 0 0 0 16px;
  position: relative
}
.ee .ee-stars .rating-content .rating-value .ratingC:after {
  content: '-';
  position: absolute;
  top: 0;
  left: 4px;
  font-size: 15px;
  font-size: .9375rem
}
.ee .ee-stars .stars {
  margin-top: 5px;
  color: #fff
}
.ee .ee-duration {
  float: left;
  overflow: hidden;
  max-width: 41%;
  padding: 50px 5% 5% 7%;
  color: #fff
}
.ee .ee-duration .time {
  font-size: 40px;
  font-size: 2.5rem;
  color: #f5e614;
  font-weight: 700;
  font-family: Telefonica,Arial,sans-serif
}

@media only screen and (max-width:62.49938em) {
  .ficha {
    -webkit-box-shadow: none;
    min-width: 0!important;
    height: 970px
  }
  .ficha .gi:first-child {
    width: 100%;
    height: 250px;
    overflow: hidden
  }
  .ficha .gi:first-child img {
    width: 100%
  }
  .ficha .gi {
    width: 100%;
    float: left
  }
  .ficha .gi .spot {
    text-align: left;
    max-width: none
  }
  .ficha .gi .ee-stars {
    text-align: left
  }
  .ficha .gi .ee-ficha-buttons {
    float: left
  }
  .ficha .gi .ee-age,
  .ficha .gi .ee-duration {
    float: left;
    text-align: left;
    width: 50%
  }
  .ficha .gi .ee-age h3,
  .ficha .gi .ee-duration h3 {
    font-size: 18px;
    font-size: 1.125rem
  }
}
.guia-ficha .mfp-close {
  right: 0;
  top: -50px;
  font-size: 40px;
  font-size: 2.5rem
}
.guia-ficha img {
  max-width: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px
}
.guia-ficha .ee {
  padding: 30px;
  position: relative;
  height: 330px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px
}
.guia-ficha .ee .ee-duration {
  padding: 0
}
.guia-ficha .ee .ee-age {
  float: left
}
.guia-ficha .ee .ee-age span {
  margin: 5px 0
}
.guia-ficha .ee .ee-stars {
  margin: 20px 0
}
.guia-ficha .ee .ee-ficha-buttons a {
  display: inline-block;
  margin: 10px 5px 0 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-family: Movistar,Arial,sans-serif;
  font-weight: 700;
  color: #00385d;
  background: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  padding-right: 10px
}
/* No se usa porque se oculta

.guia-ficha .ee .ee-ficha-buttons .record {
  background: url(http://www.movistarplus.es/assets/images/movistar-plus/ico-record.png) no-repeat 0 0;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  display: inline-block;
  margin: 10px
}
.guia-ficha .ee .ee-ficha-buttons .yomvi-icon {
  background-image: url(http://www.movistarplus.es/assets/images/movistar-plus/ico-ver-en-yomvi.png);
  width: 26px;
  height: 26px;
  vertical-align: middle;
  display: inline-block;
  margin: 10px;
  background-size: 26px
}*/

.guia-ficha .ee .ee-ficha-buttons .button-shadow .accion {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 1em;
  font-size: 16px;
  font-size: 1rem
}
.guia-ficha .ee .ee-ficha-buttons .button-shadow .accion span {
  color: #5bc5f2;
  display: block;
  font-size: 15px;
  font-size: .9375rem
}
.guia-ficha .spot .anteficha {
  text-transform: uppercase;
  color: #666
}
.guia-ficha .spot .heading {
  font-size: 35px;
  font-size: 2.1875rem;
  font-weight: 900
}
.guia-ficha .spot .spot-content {
  padding: 30px;
  min-height: 330px;
  margin-top: 0
}
.guia-ficha .spot .spot-content p {
  margin-bottom: 10px;
  max-height: 115px;
  overflow: hidden;
  padding: 0
}
@media only screen and (min-width:48em) and (max-width:62.5em) {

  .guia-ficha > .gi {
    overflow: hidden;
    width: 49%;
    margin: 0 .5%
  }

  .guia-ficha .gi:first-of-type {
    display: none;
  }
}


/* Para poner de ejemplo */

/* fijarse en el nombre */
.prueba-image {
  position: relative;
  overflow: hidden;
  height: 400px;
  height: 80vh
}
.prueba-image img {
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}
.no-csstransforms .prueba-image img {
  left: 0
}


/* intencionado o es minisite sin 'i' */
.ministe-social .h-zeta {
  text-transform: uppercase;
  font-size: 15px;
  font-size: .9375rem;
  padding-bottom: 20px;
  color: #0086b9
}
.ministe-social .button-transparent {
  border-color: #000;
  margin-right: 10px
}
.legal .ministe-social .h-alpha-inner:before,
.ministe-social .icon:before,
.ministe-social .legal .h-alpha-inner:before {
  color: #0078eb;
  font-size: 23px;
  font-size: 1.4375rem
}

/* aqui seguro que se comieron el '.' */
.legacy button-link-right span {
  line-height: 22px
}